.mobile-app {
    width: 390px;
    height: 844px;
    padding: 0 24px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 30px 40px 50px 0px rgba(25, 48, 85, 0.30);
    background-image: url('/assets/img/background.jfif');
    background-size: cover;
    background-position: center center; 
    position: fixed;
}