<div class="mobile-app">
  <div class="screen-title">Checkout</div>

  <div class="amount">
    <div class="amount-title">Enter details</div>
    <div class="amount-input-label">Amount</div>
    <div>
      <input class="amount-input-value" type="number" />
    </div>
    <div class="amount-validation">
      <button class="amount-validation-button">PROCEED</button>
    </div>
  </div>

  <div class="credit-card-title">Gift cards</div>
  <div class="credit-cards">
      <div class="credit-card1"></div>
  </div>
</div>