/* Global variables styles */

$font-family: Montserrat;
$font-size: 14px;
$font-weight: 600;

$colors-primary: #F90;
$colors-white: #FFF;
$colors-warning: red;

$spacing-s: 8px;
$spacing-m: 12px;
$spacing-l: 24px;
$spacing-xl: 32px;
$spacing-xxl: 48px;