<div class="screen-title">Checkout</div>

  <div class="amount">
    <div class="amount-title">Enter details</div>
    <div class="amount-input-label">Amount</div>
    <div>
      <input class="amount-input-value" type="number" [(ngModel)]="amount"/>
    </div>
    <div class="amount-validation">
      <button class="amount-validation-button" (click)="validateAmount()">PROCEED</button>
    </div>
  </div>

  <div class="credit-card-title">Gift cards</div>
  <div *ngFor="let cardAmount of combinationResponse?.equal?.cards">
    <div class="credit-card-title">{{ cardAmount }} €</div>
    <div class="credit-cards-panel">
        <div class="credit-card">
          <div><img class="logo" src="/assets/img/mastercard.svg"/></div>
          <div class="card-number">5142 - 8164 - 6526 - 2563</div>
          <div class="name-and-validity">
            <div>
              <div class="label">Name</div>
              <div>Jenner anne</div>
            </div>
            <div>
              <div class="label">Valid Till</div>
              <div>10/28</div>
            </div>
          </div>
        </div>
    </div>
  </div>
  