<div class="calculator">
  <div class="screen-title">{{ 'CALCULATOR.TITLE' | translate }}</div>
  <div class="screen-subtitle" [class.hidden]="!combinationResponse.equal?.value">{{combinationResponse.equal?.value}} €</div>
  <div class="amount">
    <div class="amount-title">{{ 'CALCULATOR.AMOUNT-TITLE' | translate }}</div>
    <div class="amount-input-label">{{ 'CALCULATOR.AMOUNT-INPUT-LABEL' | translate }}</div>
    <div>
      <input class="amount-input-value" type="number" [formControl]="amount"/>
    </div>
    <div class="next-amounts">
      <div>
        <button class="next-amounts-button" (click)="previousAmount()" [disabled]="!combinationResponse.floor">
          ← {{ 'CALCULATOR.PREVIOUS-AMOUNT' | translate }} <span *ngIf="combinationResponse.floor && !combinationResponse.equal">({{combinationResponse.floor.value}}€)</span>
        </button>
      </div>
      <div>
        <button class="next-amounts-button" (click)="nextAmount()" [disabled]="!combinationResponse.ceil">
          {{ 'CALCULATOR.NEXT-AMOUNT' | translate }} <span *ngIf="combinationResponse.ceil && !combinationResponse.equal">({{combinationResponse.ceil.value}}€)</span> →
        </button>
      </div>
    </div>
    <div *ngIf="amountNotAvailable" class="amount-not-available">
      <span>{{ 'CALCULATOR.AMOUNT-NOT-AVAILABLE' | translate }}</span>
    </div>
    <div class="amount-validation">
      <button class="amount-validation-button" (click)="validateAmount()">{{ 'CALCULATOR.PROCEED' | translate }}</button>
    </div>
  </div>

  <div class="credit-card-title">{{ 'CALCULATOR.CREDIT-CARD-TITLE' | translate }}</div>
  <div *ngFor="let cardAmount of combinationResponse?.equal?.cards">
    <div class="credit-card-title">{{ cardAmount }} €</div>
    <div class="credit-cards-panel">
        <div class="credit-card">
          <div><img class="logo" src="/assets/img/mastercard.svg"/></div>
          <div class="card-number">5142 - 8164 - 6526 - 2563</div>
          <div class="name-and-validity">
            <div>
              <div class="label">{{ 'CALCULATOR.CARD-NAME' | translate }}</div>
              <div>Jenner anne</div>
            </div>
            <div>
              <div class="label">{{ 'CALCULATOR.CARD-VALIDITY' | translate }}</div>
              <div>10/28</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  