@import '../../../variables';

:host {
    .calculator {
        padding: 0 $spacing-l $spacing-m $spacing-l;

        .screen-title {
            text-align: center;
            font-size: 28px;
            font-weight: 700;
            margin-top: 88px;
        }

        .screen-subtitle {
            margin-top: $spacing-s;
            text-align: center;
            font-size: 20px;
            font-weight: 300;

            &.hidden {
                visibility: hidden;
            }
        }
    
        .amount {
            border-radius: 15px;
            background: $colors-white;
            margin: $spacing-xxl 0 $spacing-xl 0;
            padding: 25px;
    
            .amount-title {
                color: $colors-primary;
            }
    
            .amount-input-label {
                margin-top: $spacing-xl;
                color: rgba(0, 0, 0, 0.5);
                font-weight: 300;
            }
            
            .amount-input-value {
                margin-top: $spacing-s;
                border: none;
                border-bottom: 1px solid black;
                outline: none;
                color: #000;
                font-weight: $font-weight;
                width: 100%;
                font-size: $font-size;
            }

            .amount-erros {
                div {
                    margin: $spacing-s 0;
                    font-style: italic;
                    width: 100%;
                    text-align: center;
                    color: $colors-warning;
                    font-weight: 400;
                }
            }
    
            .next-amounts {
                display: flex;
                width: 100%;
                justify-content: space-between;
    
                .next-amounts-button {
                    margin-top: $spacing-m;
                    color: $colors-primary;
                    background-color: $colors-white;
                    border: none;
                    cursor: pointer;
                    padding: 0;
    
                    &:disabled {
                        color: #aaa;
                        cursor: not-allowed;
                    }
                }
            }
    
            .amount-validation {
                text-align: center;
                margin-top: 36px;
    
                .amount-validation-button {   
                    width: 196px;
                    padding: 11px 0;
                    border-radius: 40px;
                    color: $colors-white;
                    background-color: $colors-primary;
                    text-align: center;
                    font-size: $font-size;
                    border: 1px solid $colors-primary;
                    cursor: pointer;
                    font-weight: $font-weight;
                }
            }
        }
    
    
        .credit-card-title {
            color: $colors-white;
            font-size: $font-size;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 14px;
        }
    
        .credit-cards-panel {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            .credit-card {
                position: relative;
                overflow: hidden;
                margin: $spacing-m;
                background-image: url('/assets/img/credit-card-background1.png');
                background-size: cover;
                background-position: center center;     
                width: 100%;
                height: 190px;
                border-radius: 15px;
                padding: 25px;
                box-sizing: border-box;
    
                color: $colors-white;
                text-transform: uppercase;
                font-size: 16px;
                line-height: 24.519px;
                letter-spacing: 1.6px;

                .logo {
                    height: 49px;
                }

                .card-number {
                    width: 100%;
                    margin-top: $spacing-s;
                }
    
                .name-and-validity {
                    margin-top: 11px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
    
                .label {
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24.519px;
                }
            }

             /* Shiny animation on master card */
            .credit-card::before {
                content: "";  
                position: absolute;
                top: -250%; 
                left: -100%;
                width: 50%;
                height: 500%;
                background: rgba(255, 255, 255, 0.7);
                transform: rotate(45deg);
                animation: shiny 1.5s;
            }
        }
    }
}

@keyframes shiny {
    0% {
      left: -100%;
    }
    100% {
      left: 200%;
    }
  }
  